/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 18, 2024, 2:16:33 PM
    Author     : NGUYEN THI KHANH VI
*/
.change-password-for {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.change-password-for .div {
    background-color: #ffffff;
    width: 1440px;
    height: 1955px;
    position: relative;
}

.change-password-for .overlap-group {
    position: absolute;
    width: 301px;
    height: 1955px;
    top: 0;
    left: 0;
}

.change-password-for .rectangle {
    position: absolute;
    width: 245px;
    height: 1955px;
    top: 0;
    left: -20px;
    background-color: #00d1ff26;
}

.change-password-for .rectangle-2 {
    position: absolute;
    width: 245px;
    height: 75px;
    top: 790px;
    left: -20px;
    background-color: #d7f7ff;
    border-top-width: 3px;
    border-top-style: solid;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-color: #96dae4;
}

.change-password-for .text-wrapper {
    position: absolute;
    top: 817px;
    left: 60px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.change-password-for .rectangle-3 {
    position: absolute;
    width: 245px;
    height: 75px;
    top: 340px;
    left: -20px;
    background-color: #d7f7ff;
    border-top-width: 3px;
    border-top-style: solid;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-color: #96dae4; 

}

.change-password-for .text-wrapper-2 {
    position: absolute;
    top: 370px;
    left: 20px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.change-password-for .rectangle-4 {
    position: absolute;
    width: 245px;
    height: 65px;
    top: 279px;
    left: -20px;
    background-color: #d7f7ff;
    border-top-width: 3px;
    border-top-style: solid;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-color: #96dae4;
}

.change-password-for .text-wrapper-3 {
    position: absolute;
    top: 300px;
    left: 36px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.change-password-for .text-wrapper-4 {
    position: absolute;
    width: 251px;
    top: 120px;
    left: 33px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.change-password-for .rectangle-5 {
    position: absolute;
    width: 245px;
    height: 94px;
    top: -10px;
    left: -20px;
    background-color: #74e6ff;
}

.change-password-for .user {
    position: absolute;
    width: 50px;
    height: 47px;
    top: 50px;
    left: 80px;
    object-fit: cover;
}

.change-password-for .rectangle-6 {
    position: absolute;
    width: 411px;
    height: 59px;
    top: 312px;
    left: 499px;
    background-color: #d9d9d9;
    border-radius: 25px;
}

.change-password-for .rectangle-7 {
    position: absolute;
    width: 411px;
    height: 59px;
    top: 489px;
    left: 499px;
    background-color: #d9d9d9;
    border-radius: 25px;
}

.change-password-for .rectangle-8 {
    position: absolute;
    width: 411px;
    height: 59px;
    top: 672px;
    left: 499px;
    background-color: #d9d9d9;
    border-radius: 25px;
}

.change-password-for .text-wrapper-5 {
    top: 422px;
    left: 504px;
    position: absolute;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.change-password-for .text-wrapper-6 {
    top: 257px;
    left: 499px;
    position: absolute;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.change-password-for .p {
    position: absolute;
    top: 589px;
    left: 504px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.change-password-for .overlap {
    position: absolute;
    width: 125px;
    height: 49px;
    top: 782px;
    left: 891px;
    background-color: #00b8ec;
    border-radius: 30px;
}

.change-password-for .text-wrapper-7 {
    position: absolute;
    top: 13px;
    left: 40px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.change-password-for .text-wrapper-8 {
    position: absolute;
    width: 329px;
    top: 170px;
    left: 499px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

:root {
    --demopage-darkbackgroundforcomponentsdemo: rgba(37, 31, 31, 1);
    --demopage-lightbackgroundforcomponentsdemo: rgba(233, 232, 232, 1);
    --themes-black-100: rgba(28, 28, 28, 1);
    --themes-black-10: rgba(28, 28, 28, 0.1);
}

[data-themes-mode="light"] {
    --themes-black-100: rgba(28, 28, 28, 1);
    --themes-black-10: rgba(28, 28, 28, 0.1);
}

[data-themes-mode="dark"] {
    --themes-black-100: rgba(255, 255, 255, 1);
    --themes-black-10: rgba(255, 255, 255, 0.2);
}

